body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: blue;
}

.black-box {
  background-color: black;
  width: 325px;
  height: 325px;
  margin-top: 50px;
}

.flag-image {
  margin-top: 40px;
  width: 100px;
  border-radius: 50%;
}

h1 {
  color: white;
}

#bar ul {
  list-style-type: none;
  padding: 1px;

}
#bar li {
  display: inline;
}

.searchbar {
  padding: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
