body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: blue;
  text-align: center;
}
.black-box {
  background-color: black;
  height: 325px;
  width: 325px;
  float: top;
  margin-top: 50px;
}

.flag-image {
  margin-top: 40px;
  width: 100px;
  border-radius: 50%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  float: top;
  padding-top: 30px;
  color: white;
}

#bar ul {
  list-style-type: none;
  margin-bottom: 50px;
  padding: 1px;
}

#bar li{
  display: inline;

}

.searchbar {
  padding: 10px;
}

